

body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li {
  padding: 0;
  margin: 0;
  
}


html,
body {
   
    font-size: 16px;

}

/* css/reset/ */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
	font-family:Microsoft JhengHei;
}
ol, ul {
	list-style: disc;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* focus */
input{
	outline: none;
}

/* nav */
.main-bar{
	margin: 0 4%;
}
.logo{
	height:80px;
	width:auto;
	float:left;
	
	}

.main-nav{
	float:right;
	list-style: none;	
	margin-top: 27.6px;
	
}	
.main-nav li{

    text-align: center;
	float:left;
	padding: 0 20px;
	font-size: 18px;
	display: flex;
	
}
.main-nav li a{
	width: px;
display: block;
	color: #44af56;
	text-decoration: none;
	text-align: center;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	
}
.main-nav li a:hover {

	border-bottom: 2.5px solid #00BBFF ;
  }




/*input*/



/*display none*/
.show{
	display: none;
}
@media (max-width: 991px) {
	.main-nav{
		max-height: 0;
		overflow: hidden;
		-webkit-transition: max-height 1s;
    	transition: max-height 1s;
    	margin-top: 0px;
    	position: absolute;
    	z-index: 100;
    	top: 80px;
    	left: 0;
   		right: 0;
    	background:#d1deee;
		line-height: 3em;
	    height: 300px;
	
	}
	.main-nav li{
		float: none;
		border-bottom: 1px solid #636363;
		
	}
	.main-nav li a{
		-webkit-transition: all 0.3s;
    	transition: all 0.3s;
  	}
	.main-nav li a:hover{
    	color: #fff;
		border-bottom: none;
  	}
	.show{
    	display: block;
    	float: right;
    	margin: 1em;
		font-size:25px;
		color: #575757;
		
  	}
  	.menu-show .main-nav{
  		max-height: 800px;
  	}
}

/*span-1-of-4 */
.span-1-of-4 {
	width: 19%;
	margin: 4% 3%;

}
.col {
	display:block;
	float:left;

}

/*row */
.row {zoom: 1; /* For IE 6/7 (trigger hasLayout) */}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}
/*footer */
footer{
	
	height: 100px;
	background-color: #dee8f5;
}
footer li{	margin-top: 2%;
	display:inline;
	font-size: 110%;
	padding:0px 25px;
}
footer li a{
	text-decoration:none;
}

.footer-nav{
	display:inline;
	margin-top: 1%;
	float: left;
	margin-left:1%;
  }
  
.social-links{
	margin-top: 1%;
	display:inline;
	width:auto;
	float: right;
	margin-right: 1%;
  }

