
        body,
        html {
          width: 100%;
          min-height: 100vh;
          padding: 0;
          margin: 0;
          font-family: "cwTeXYen", sans-serif;
          font-size: 18px;
          color: #3f5d45;
        }

        * {
          position: relative;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        span,
        ul,
        li {
          padding: 0;
          margin: 0;
        }

        input,
        select {
          -webkit-appearance: none;
            -moz-appearance: none;
                  appearance: none;
          border-radius: 0px;
          outline: none;
          border: none;
          font-family: "cwTeXYen", sans-serif;
          font-size: 18px;
        }

        a {
          text-decoration: none;
          color: #3f5d45;
        }

        ul,
        li {
          list-style: none;
          padding: 0;
          margin: 0;
        }

        /*頂部選單*/
      

        nav{
          background-color: #FFFFFF;
          height: 80px;
          
        }
        .main-bar{
          margin: 0 4%;
        }
        .logo{
          height:80px;
          width:auto;
          float:left;
          
          }
        
        .main-nav{
          float:right;
          list-style: none;	
          margin-top: 27.6px;
          
        }	
        .main-nav li{
        
            text-align: center;
          float:left;
          padding: 0 20px;
          font-size: 18px;
          display: flex;
          
        }
        .main-nav li a{
          width: px;
        display: block;
          color: #44af56;
          text-decoration: none;
          text-align: center;
          -webkit-transition: all 0.2s;
          transition: all 0.2s;
          
        }
        .main-nav li a:hover {
        
          border-bottom: 2.5px solid #00BBFF ;
          }

/*display none*/
.show{
	display: none;
}
@media (max-width: 991px) {
	.main-nav{
		max-height: 0;
		overflow: hidden;
		-webkit-transition: max-height 1s;
    	transition: max-height 1s;
    	margin-top: 0px;
    	position: absolute;
    	z-index: 100;
    	top: 80px;
    	left: 0;
   		right: 0;
    	background:#d1deee;
		line-height: 4em;
	    height: 150px;
	
	}
	.main-nav li{
		float: none;
	
		
	}
	.main-nav li a{
		-webkit-transition: all 0.3s;
    	transition: all 0.3s;
  	}
	.main-nav li a:hover{
    	color: #fff;

  	}
	.show{
    	display: block;
    	float: right;
    	margin: 1em;
		font-size:25px;
		color: #575757;
		
  	}
  	.menu-show .main-nav{
  		max-height: 500px;
  	}
}

     

        /*產品*/
        .login_area {
          -webkit-transition: all .3s;
          transition: all .3s;
          width: 940px;
          margin: 80px auto;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -ms-flex-pack: distribute;
              justify-content: space-around;
          height: 340px;
          background: #bb0909;
        }

        .login_area .router {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: distribute;
              justify-content: space-around;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin: 5px 0;
          height: 60px;
          line-height: 60px;
          width: 300px;
          text-align: center;
          background: #fff;
        }

        .login_area .router label{

         color: black;
        }
        


        .login_area .router {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: distribute;
              justify-content: space-around;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin: 5px 0;
          height: 60px;
          line-height: 60px;
          width: 300px;
          text-align: center;
          background: #fff;
        }


        .login_area .router img {
          max-width: 100px;
          color: #3f5d45;
          opacity: .6;
          -webkit-filter: grayscale(1);
                  filter: grayscale(1);
        }

        .contain, .social {
          width: 390px;
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
        }

        .contain h1, .social h1 {
          color: #3f5d45;
          font-weight: normal;
          font-size: 1.5rem;
          margin: 30px 0;
        }

        .contain {
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
        }

        .contain i {
          padding: 20px 10px;
        }

        .contain input {
          height: 60px;
          width: 80%;
          border: none;
          outline: none;
        }

        .contain .checkbox {
          width: 300px;
          padding: 20px 0;
        }

        .contain .checkbox input {
          width: auto;
          height: auto;
        }

        .contain .login {
          cursor: pointer;
          text-align: center;
          padding: 15px 0;
          font-weight: bold;
          font-size: 1.5rem;
          width: 100%;
        }

        .contain .mobile_social {
          display: none;
          background: #eaf0ed;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
        }

        .contain .mobile_social img {
          margin: 0 10px;
          width: 25%;
        }

        .active {
          height: 380px;
          background: rgb(155, 191, 206);
        }

        .active .checkbox {
          color: #eaf0ed;
        }

        .active h1 {
          color: #eaf0ed;
          font-size: 2rem;
        }

        .active .login {
          width: 200px;
          color: #FFFFFF;
          background-color:#0066FF;
          margin: 10px 0;
        }

        .active .router img {
          opacity: 1;
          -webkit-filter: none;
                  filter: none;
        }

   /*底部*/
footer{
	
	height: 100px;
	background-color: #dee8f5;
}
footer li{	margin-top: 2%;
	display:inline;
	font-size: 110%;
	padding:0px 25px;
}
footer li a{
	text-decoration:none;
}

.footer-nav{
	display:inline;
	margin-top: 1%;
	float: left;
	margin-left:1%;
  }
  
.social-links{
	margin-top: 1%;
	display:inline;
	width:auto;
	float: right;
	margin-right: 1%;
  }
