@charset "UTF-8";
/*----Common Style ----*/
a:link,a:hover{text-decoration:none;}

#mainfooter,#mainfooter a{color:#6c757d;font-size:0.85rem;line-height: 1.5rem;}
#mainfooter a.navbar-toggler{background:none;border:none;}
#mainfooter span.navbar-toggler-icon {background-size:75%;background-position:center top;background:none;}
#bestseller figure{line-height:2rem;}
#bestseller figure figcaption{font-size:1.1rem;font-weight:500;}
#partners>:nth-child(2)>div{width:100%;}

.img-fixed-180{width:180%;height:auto;margin-left:-30%;}
.img-fixed-120{width:120%;height:auto;margin-left:-20%;}
.overflow-hidden{overflow:hidden;}
.img-sm-fixed{width:120vw;height:auto;}
.ps-a{position:absolute;}
.ps-r{position:relative;}
.ps-pb{bottom:0;}
.ps-pt{top:0;}
.ps-pl{left:0;}
.ps-pr{right:0;}
.w-24{width:24%;}
.w-sm-31{width:100%;}
.w-sm-48{width:100%;}
.w-md-28{width:100%;}
.w-md-31{width:100%;}
.w-md-69{width:100%;}
.w-md-49{width:100%;}
.w-lg-24{width:100%;}
.w-lg-31{width:100%;}
.h-sm-60vh{height:60vh;}
.ob{width:3rem;height:3rem;line-height:3rem;margin:5px;text-align:center;border-radius:15%;vertical-align:top}

/*----Index Page Style ----*/
.index #slider [class*=carousel-inner]>div{width:100%;height:calc(100vw * 0.55);}
.index #slider [class*=card-body]>img{width:100%;height:auto;}
.index #slider [class*=d-flex]{text-align:center;}
.index #slider [class*=d-flex]>h1{text-shadow:1px 1px 2px #333;}
.index #slider [class*=d-flex]>h2{text-shadow:1px 1px 2px #333;}
.index #slider [class*=d-flex]>p{text-shadow:1px 1px 2px #333;}




@media screen and (min-width:576px){
	/*----Common Style ----*/
	#mainfooter>div{width:100%;}


	/*----Index Page Style ----*/
	#bestseller figure{width:49%;}
	#partners>:nth-child(2)>div{width:49%;}

	.img-sm-fixed{width:100%;height:auto;}
	.ps-sm-a{position:absolute;}
	.ps-sm-r{position:relative;}

	.w-sm-31{width:31%;}
	.w-sm-49{width:49%;}
}

@media screen and (min-width:768px){
	.w-md-28{width:28%;}
	.w-md-31{width:31%;}
	.w-md-49{width:49%;}
	.w-md-69{width:69%;}
}


@media screen and (min-width:992px){
	/*----Common Style ----*/
	#mainfooter>div{width:19%;}
	#bestseller figure{width:24%;}
	#partners>:nth-child(2)>div{width:19%;}
	
	.w-lg-24{width:24%;}
	.w-lg-31{width:31%;}
	/*----Index Page Style ----*/
	.index #slider [class*=d-flex]>h1{font-size:3.5rem;}
	.index #slider [class*=d-flex]>h2{font-size:2.5rem;}
	.index #slider [class*=d-flex]>p{font-size:1.3rem;}
}

